n8n/global_error_handler.json
{
  "name": "Global Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "console.error('Workflow error:', $json);\nreturn $json;"
      },
      "id": "2",
      "name": "Log Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://example.com/error-notification",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"error\": $json }"
      },
      "id": "3",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "GlobalErrorWorkflow"
}
